.headerFont {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #4B9CB3;
}
@media (max-width: 333px) {
  .headerFont {
    font-size: 2rem;
  }
}
.backgroundGray{
  background-color: #E3E3E3 !important;  
}

*:focus {
  box-shadow: none !important;
}

.muteMonth{
  font-size: .7rem;
  color: grey;
}
.archiveItem{
  font-size: .7rem;
  color: #767676;
}
.archiveSection{
  font-weight: bold;
}
.navItem{
  cursor: 'pointer' !important;
  color: #707070;
  font-size: .8rem;
  font-weight: bold;
}
.navbar-nav {
  justify-content: center;
}
